[submodule "atym-sdk"]
	path = atym-sdk
	url = git@github.com:atym-io/atym-sdk.git
[submodule "external/wasm-micro-runtime"]
	path = external/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
